@import 'ProjectPlanner/styles/center-lesson';

html {
  // Just so everything is a little bigger
  font-size: 20pt;
}

.loading-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

// Credit: https://loading.io/css/
.loading-overlay-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-overlay-box {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.loading-overlay-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--brightBlue);
  border-radius: 50%;
  animation: loading-overlay-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--brightBlue) transparent transparent transparent;
}

.loading-overlay-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-overlay-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-overlay-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading-overlay-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
